fastapi==0.74.* # If I don't mention the version 0.74.*, I am getting error, IDK why tho :(
requests==2.27.* # From FastAPI-Uvicorn template, I copied
uvicorn[standard]==0.17.* # From FastAPI-Uvicorn template, I copied
presidio-analyzer
presidio-anonymizer
pymongo==4.7.2
